# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# Base de datos
db.sqlite3

# Archivos del sistema
.DS_Store

# Variables de entorno
.env

# Media (opcional)
media/

venv/
__pycache__/
*.pyc
db.sqlite3
.env

# ignorar cosas raras
.agents/
get-docker.sh
skills-lock.json
package-lock.json
