{% extends 'optica/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}

<div class="hero">
    <h1>Bienvenido a Óptica Marquez</h1>
    <p>Encuentra los mejores lentes y servicios para el cuidado de tu vista</p>
</div>

<div class="banner">
    <img src="{% static 'images/Optica.png' %}" alt="Promoción Óptica Marquez">
</div>

<div class="container">
    <h2>Nuestras Promociones</h2>

    {% include 'optica/carrusel.html' %}
</div>

{% endblock %}