body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c45e5e;
}

.header {
    background: rgb(158, 152, 152);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.btn {
    background: #14374e;
    color: rgb(85, 82, 82);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}